
    <section id="about">
        <!-- container start -->
        <div class="container sections">
            <!-- divider start -->
            <div class="inner-divider"></div><!-- divider end -->
            <!-- row start -->
            <div class="row">
                <!-- col start -->
                <div class="col-lg-12">
                    <!-- page title start -->
                    <h2 class="section-heading">
                        Sobre
                    </h2><!-- page title end -->

                    <p class="section-subheading">
                        <span>Uma Wheyfu em construção</span>

                    </p><!-- page subtitle end -->
                </div><!-- col end -->
            </div><!-- row end -->
            <!-- divider start -->
            <div class="inner-divider-half"></div><!-- divider end -->
            <!-- row start -->
            <div class="row">
                <!-- col start -->
                <div class="col-lg-12">
                    <div class="intro-txt">
                        <p>
                            Olá queridos, agradeço muito por visitarem o meu site. Na seção gratuita, vocês terão
                            acesso aos meus vídeos
                            mais recentes dos canais gratuitos e ficarão atualizados sobre tudo que tenho postado em
                            minhas redes sociais e canais.
                            Já na seção paga, poderão me ver do jeitinho que gostam.
                        </p>
                        <p>
                            Com alguns vídeos exclusivos para o site na área de assinantes fora que, vão apoiar
                            muito meu trabalho.
                        </p>
                    </div>
                </div><!-- col end -->
            </div><!-- row end -->
            <!-- row start -->
            <div class="row">
                <!-- col start -->
                <div class="col-lg-12">
                    <!-- intro start -->
                    <div class="intro-years">
                        <!-- divider start -->
                        <div class="inner-divider-half"></div><!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div><!-- line end -->
                        <!-- divider start -->
                        <div class="inner-divider-half"></div><!-- divider end -->
                        <!-- page subtitle start -->
                        <h2 class="zh-fs-12">
                            Ready
                        </h2><!-- page subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-half"></div><!-- divider end -->
                        <!-- page title start -->
                        <h3 class="facts-counter-number">4</h3><!-- page title end -->
                        <!-- divider start -->
                        <div class="inner-divider-half"></div><!-- divider end -->
                        <!-- page subtitle start -->
                        <h4>
                            Demos
                        </h4><!-- page subtitle end -->
                    </div><!-- intro end -->
                    <!-- divider start -->
                    <div class="inner-divider-half"></div><!-- divider end -->
                    <!-- line start -->
                    <div class="the-line"></div><!-- line end -->
                </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- container end -->
    </section>
