<section id="demos">
    <!-- container start -->
    <div class="container-fluid sections">
        <!-- divider start -->
        <div class="inner-divider"></div><!-- divider end -->
        <!-- row start -->
        <div class="row">
            <!-- col start -->
            <div class="col-lg-12">
                <!-- page title start -->
                <h2 class="section-heading">
                    The Demos
                </h2><!-- page title end -->
                <!-- divider start -->
                <div class="inner-divider-ultra-half"></div><!-- divider end -->
                <!-- page subtitle start -->
                <h2 class="section-subheading">
                    <span>By all means, choose your style</span>
                </h2><!-- page subtitle end -->
            </div><!-- col end -->
        </div><!-- row end -->
        <!-- divider start -->
        <div class="inner-divider-half"></div><!-- divider end -->
        <!-- row start -->
        <div class="row-video">
            <div class="move-up-grid">
                <!-- preview image start -->
                <div class="container-video">
                    <div class="image-works">

                        <div class="icon-works">
                            <a class="zoom-item" href="index-LIGHT.html" target="_top">Live Preview</a>
                        </div>
                        <img alt="Image Preview" src="../../../../assets/Captura de tela 2023-02-24 204314.png">
                        <div class="image-overlay"></div>
                        <div class="preview-img-info">
                            <h2>
                                Light Edition
                            </h2>
                        </div>
                    </div>
                </div><!-- preview image end -->
                <!-- preview image start -->
                <div class="container-video">
                    <div class="image-works">
                        <div class="icon-works">
                            <a class="zoom-item" href="index-DARK.html" target="_top">Live Preview</a>
                        </div><img alt="Image Preview" src="../../../../assets/Captura de tela 2023-02-24 212839.png">
                        <div class="image-overlay"></div>
                        <div class="preview-img-info">
                            <h2>
                                Dark Edition
                            </h2>
                        </div>
                    </div>
                </div><!-- preview image end -->
                <!-- preview image start -->
                <div class="container-video">
                    <div class="image-works">
                        <div class="icon-works">
                            <a class="zoom-item" href="index-LIGHT-LINES.html" target="_top">Live Preview</a>
                        </div><span class="preview-corner"><span class="preview-corner-txt">New</span></span>
                        <img alt="Image Preview" src="../../../../assets/Captura de tela 2023-02-24 213749.png">
                        <div class="image-overlay"></div>
                        <div class="preview-img-info">
                            <h2>
                                Light Edition · Lines Effect
                            </h2>
                        </div>
                    </div>
                </div><!-- preview image end -->
                <!-- preview image start -->
                <div class="container-video">
                    <div class="image-works">
                        <div class="icon-works">
                            <a class="zoom-item" href="index-DARK-LINES.html" target="_top">Live Preview</a>
                        </div><span class="preview-corner"><span class="preview-corner-txt">New</span></span>
                        <img alt="Image Preview" src="../../../../assets/Captura de tela 2023-02-24 213928.png">
                        <div class="image-overlay"></div>
                        <div class="preview-img-info">
                            <h2>
                                Dark Edition · Lines Effect
                            </h2>
                        </div>
                    </div>
                </div><!-- preview image end -->
            </div>
        </div><!-- row end -->
    </div><!-- container end -->
</section>

