<footer>
    <section id="footer">
        <!-- divider start -->
        <div class="inner-divider"></div><!-- divider end -->
        <!-- container start -->
        <div class="container-fluid sections">
            <!-- row start -->
            <div class="row footer-credits">
                <!-- footer logo start -->
                <div class="footer-credits-logo">
                    <img alt="Ex Nihilo" src="../assets/Logo-05.png">
                </div><!-- footer logo end -->
                <!-- page subtitle start -->
                <h2 class="hide-me">
                    E3M3 Designer
                </h2><!-- page subtitle end -->
                <!-- divider start -->
                <div class="inner-divider-ultra-half"></div><!-- divider end -->
                <!-- footer copyright start -->
                <div class="footer-credits-copyright-wrapper">
                    <div class="footer-credits-copyright">
                        <a class="link-underline" href="https://themeforest.net/user/ex-nihilo?ref=ex-nihilo"
                            target="_top">E3M3 Designer</a> © All Rights Reserved.
                    </div>
                </div><!-- footer copyright end -->
            </div><!-- row end -->
        </div><!-- container end -->
        <div class="inner-divider"></div>
    </section>
</footer>

