<section id="three-step-rede">
    <!-- divider start -->
    <div class="inner-divider"></div><!-- divider end -->
    <!-- container start -->
    <div class="container sections">
        <!-- row start -->
        <!-- col start -->
        <div class="col-lg-12">
            <!-- page title start -->
            <h2 class="section-heading">
                The 3-step Method
            </h2><!-- page title end -->
            <!-- divider start -->
            <div class="inner-divider-ultra-half"></div><!-- divider end -->
            <!-- page subtitle start -->
            <h2 class="section-subheading">
                <span>Download, edit, go live</span>
            </h2><!-- page subtitle end -->
        </div><!-- col end -->
        <!-- row end -->
        <!-- divider start -->
        <div class="inner-divider-half"></div><!-- divider end -->
        <!-- row start -->
        <div class="row-rede-socias">
            <!-- col start -->
            <div class="three-step-method-block">
                <div class="container-redes">
                    <h4 class="three-step-method-heading">
                        Download
                    </h4>
                    <div class="three-step-method-number">
                        1500 +
                    </div>
                </div>
                <span>
                    Mais De 1500 Vídeos Em 
                </span>
            </div><!-- col end -->
            <!-- col start -->
            <div class="three-step-method-block">
                <div class="container-redes">
                    <h4 class="three-step-method-heading">
                        Edit
                    </h4>
                    <div class="three-step-method-number">
                        900 K
                    </div>
                </div>

                <span>
                    Inscritos Em Canais De Vídeo
                </span>
            </div><!-- col end -->
            <!-- col start -->
            <div class="three-step-method-block">
                <div class="container-redes">
                    <h4 class="three-step-method-heading">
                        Go Live
                    </h4>
                    <div class="three-step-method-number">
                        450 M
                    </div>
                </div>

                <span>
                    Mais De Visualizações De Vídeos
                </span>
            </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- container end -->
</section>

<div class="inner-divider"></div>

<section class="section-parallax" id="purchase">
    <!-- container start -->
    <div class="container-fluid sections">
        <!-- row start -->
        <!-- parallax wrapper start -->
        <div class="parallax parallax-purchase" data-parallax-speed="0.75" style="background-position: center 47.8%;">
            <!-- parallax overlay start -->
            <div class="parallax-overlay"></div><!-- parallax overlay end -->
            <!-- parallax content start -->
            <div class="parallax-content">
                <!-- page title start -->
                <h2 class="section-heading section-heading-small light">
                    <span>Purchase</span> Ultimex<br>
                    <span>and build</span> excitement around <span>your brand</span>
                </h2><!-- page title end -->
                <!-- divider start -->
                <div class="inner-divider-ultra-half"></div><!-- divider end -->
                <!-- page subtitle start -->
                <h2 class="section-subheading light">
                    <span>Style is everything</span>
                </h2><!-- page subtitle end -->
                <!-- divider start -->
                <div class="inner-divider-half"></div><!-- divider end -->
                <!-- purchase launcher start -->
                <a href="https://themeforest.net/item/ultimex-one-page-portfolio-template/28850781?ref=ex-nihilo"
                    target="_top">
                    <div class="the-button-wrapper">
                        <div class="the-button-purchase">
                            Purchase
                        </div>
                    </div>
                </a><!-- purchase launcher end -->
            </div><!-- parallax content end -->
        </div><!-- parallax wrapper end -->
    </div><!-- container end -->
</section>


