<div class="app">
    <header id="home">
        <nav class="navbar" [class.fixed]="isFixed" [class.scrolled]="isScrolled">
            <!-- container start -->
            <div class="container">
                <div class="navbar-heade fadeIn-element">
                    <!-- logo start -->
                    <div class="logo">
                        <a class="navbar-brand logo" href="#">
                            <!-- logo light start -->
                            <!-- <img alt="Logo" class="logo-light" src=""> -->
                            Regina Molotov<!-- logo light end -->
                            <!-- logo dark start -->
                            <!-- <img alt="Logo" class="logo-dark" src=""> --><!-- logo dark end -->
                        </a>
                    </div><!-- logo end -->
                </div>
                <!-- main navigation start -->
                <div class="nav-navigation">
                    <div class="nav-header">
                        <button class="burger"><i class="material-icons burger">menu</i></button>
                    </div>
                    <div class="nav-collapse" id="navbar-collapse">
                        <!-- menu start -->
                        <ul class="nav-menu">
                            <li class="active">
                                <a class="page-scroll link-underline-menu active" routerLink="/home"
                                    (click)="scrollToSection('home')">Home</a>
                            </li>
                            <li class="">
                                <a class="page-scroll link-underline-menu" (click)="scrollToSection('about')">Sobre</a>
                            </li>
                            <li class="">
                                <a class="page-scroll link-underline-menu" (click)="scrollToSection('demos')">Videos</a>
                            </li>
                            <li class="">
                                <a class="page-scroll link-underline-menu" routerLink="/about"
                                    (click)="scrollToSection('about')">Fotos</a>
                            </li>
                            <li class="">
                                <a class="page-scroll link-underline-menu" routerLink="/about"
                                    (click)="scrollToSection('about')">Acesso premium</a>
                            </li>
                            <li>
                                <a class="link-underline-menu"
                                    href="https://themeforest.net/item/ultimex-one-page-portfolio-template/28850781?ref=ex-nihilo"
                                    target="_top">Apoiar</a>
                            </li>
                        </ul><!-- menu end -->
                    </div>
                </div><!-- main navigation end -->
            </div><!-- container end -->
        </nav>

        <div class="center-container">
            <!-- center block start -->
            <div class="center-block">
                <!-- home subtitle start -->
                <h2 class="home-page-title fadeIn-element" style="opacity: 1;">
                    Regina
                </h2><!-- home subtitle end -->
                <!-- divider start -->
                <div class="inner-divider-half"></div><!-- divider end -->
                <!-- home title start -->
                <h1 class="home-page-title fadeIn-element" style="opacity: 1;">
                    Molotov
                </h1><!-- home title end -->
                <!-- divider start -->
                <div class="inner-divider-half"></div><!-- divider end -->
                <!-- demos launcher start -->
                <a class="page-scroll" routerLink="/demos" (click)="scrollToSection('demos')">
                    <div class="">
                        <div class="the-button-light">
                            Live demos
                        </div>
                    </div>
                </a><!-- demos launcher end -->
            </div><!-- center block end -->
        </div>

        <div class="vertical-line"></div>

    </header>


</div>
<main>
    <app-about></app-about>

    <app-galeria></app-galeria>

    <app-videos></app-videos>

    <app-redes-sociais></app-redes-sociais>

    <app-footer></app-footer>
</main>

